# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*.nbconvert.ipynb

# System files MacOS
.DS_Store

# IDE configuration files
.vscode/
.idea/
*.code-workspace

# Virtual environment folder
.venv/
.tmp/
.virtual_documents/

# Python cache files
__pycache__/
joblib_cache/
.cache/

# Python compiled files
*.pyc
*.pyo
*.pyd

# Log files
*.log
*.js
*.joblib
*.json.log
*.python-version
catboost_info/
catboost_*
*.html

# Experiment files
*.db
*.db-journal
*.sqlite
*.sqlite3
submissions/
removed_features/

# Docker
*.tar

# Raw data files
*.parquet
*.csv